
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins:wght@300&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');


.section-p1{
  padding: 40px 80px;
  font-size: 30px;
}

.section-m1{
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  outline:none;
  border: none;
}



body{
  width: 100%;
}

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
font-family: 'Poppins', sans-serif;
  }

  .logo{
    width: 210px;
  }
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0,0,0, 0.3);
   z-index: 999;
   position: sticky;
   top: 0;
   left:0;
  }



  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
 
  }

  #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
   

  }
  #navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
    padding: 0px 7px;
  }


  #navbar li a:hover,
  #navbar li a.active{
    
    color: red;
  }
  #navbar li a.active::after,
  #navbar li a:hover::after{
    content: " ";
    width:50%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 25px;

  }


 #mobile {
  display: none;
  align-items: center;
}

#close{
  display: none;
}

  /* -------------HERO section here---------------------- */

#hero{
  background-image: url(/img/hero4.png);
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0%;
  background-size: cover;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 95px;
  font-size: 40px;
  font-family: 'Lexend', sans-serif;
  letter-spacing: 4px;
}

#hero h1{
font-size: 40px;
font-family: 'Lexend', sans-serif;
letter-spacing: 4px;
padding-bottom: 20px;
}

#hero h2 {
  font-family: 'Lexend', sans-serif;
  position: absolute;
  padding-bottom:120px ;
  font-size: 70px;
  letter-spacing: 4px;
  color: red;
}

#hero p{
  font-size: 20px;
}

#hero button{
  background-image: url(/img/button.png);
  background-color: transparent;
  color: rgb(252, 5, 5);
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
}
 #feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* small icon cards */
#feature .fe-box{
  width: 180px;
  text-align:center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.3);
  border: 1px solid  #cce7d0;
  border-radius: 12px;
  margin: 15px 0;
}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(225,0,10, 0.7);

}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display: inline-block ;/* for removing left right space*/
  padding: 10px 8px 6px 8px;
  line-height: 5px;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #fff2e5;
}


/* -------------------feature products-------------------- */

#product1{
  text-align: center;
}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro{
  width: 20%;
  min-width: 250px;
  padding :10px 10px;
  border: 1px solid #f58326;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0, 0.3);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
  margin: 20px 10px;
  
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro:hover{
  box-shadow:20px 20px 30px  rgba(0,0,0, 0.7);
}

#product1 .pro .des {
  text-align: center;
  padding:10px 0px;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 0px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(187, 162, 19);
}

#product1 .pro .des h4{
  /* padding-top: 7px; */
  font-size: 20px;
  font-weight: 700;
  color: green;
}

#product1 .pro .fa-shopping-cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: red;

}

#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: white;
  width: 100%;
  height: 30vh;
  background-position: center;
  background-image: url(/img/banner/b2.jpg);
}

#banner h2 span{
  color: red;
}

#banner button:hover{
  background-color: rgb(49, 85, 49);
  color: white;
  letter-spacing: 2px;
}

#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
} 

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* content move to left side here*/
    max-width: 660px;
    height: 40vh;
    background-size:cover;
    background-position: cover;
    background-image: url("img/banner/b17.jpg");
    padding: 30px;
  }
  #sm-banner .banner-box h3{
    color: green;
    font-size: 40px;
  }

  #sm-banner h4{
    color: rgb(136, 133, 133);
    font-size: 15px;
    font-weight: 800;
  }

  #sm-banner h2{
    font-size: 30px;
    color: white;
    font-weight: 900;
  }
  #sm-banner  span{
    color: rgb(255, 5, 51)
  }

  #sm-banner .banner-box2{
    min-width: 660px;
    background-image: url("/img/banner/b10.jpg");
  }

  #banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: warp;
    padding: 0 80px;
  }

  #banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* content move to left side here*/
    min-width: 30%;
    height: 30vh;
    background-size:cover;
    background-position: cover;
    background-image: url("img/banner/b7.jpg");
    padding: 20px;
    margin-bottom: 20px;
  

  }

  #banner3 .banner-box2{
background-image: url("img/banner/b4.jpg");
}

#banner3 .banner-box3{
  background-image: url("img/banner/b18.jpg");
}


  #banner3 h2{
    color: white;
  
    font-weight: bolder;
    font-size: 25px;
  }
  #banner3 h3{
    color:red;
    font-weight: 900;
    font-size: 20px;

}


footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(239, 236, 236);
  margin-top: 20px;
 
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom:20px;
}

footer .logo{
  margin-bottom: 20px;
}

footer h4{
  font-size: 27px;
  padding-bottom: 10px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0px;
}


footer  a  {
  font-size: 20px;
  text-decoration: none;
  color:#222;
  margin-bottom: 10px;
}

footer .install{
  margin-left: 80px;
}

footer .install .row img{
  border: 1px solid green;
  border-radius: 6px;
}
footer .install img{
  margin: 10px 0px 15px 0px;
}

footer .follow{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
  padding-top: 25px;
}


footer .follow i:hover,
footer a:hover{
  color: red;
}

footer .copyright {
  width: 100%;
  text-align: center;
  
}

footer .copyright p{
  font-size: 20px;
  color: black;
  margin-top:50px;
}

#page-header{
background-image: url(/img/banner/b1.jpg );
width: 100%;
height: 40vh; 
background-image: cover;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;
}

#page-header h2,
#page-header,p{
color: red;
font-size: 30px;
}

#pagination{
  text-align:center;
}

#pagination a{
  text-decoration: none;
  background-color: red;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-img-grp{
 display: flex;
 justify-content: space-between;
}

.small-img-col{ 
  flex-basis: 24%;
  cursor:pointer;
}

#prodetails{
  display: flex;
  margin-top:20px
}

#prodetails .single-pro-details{
 width: 50%;
 padding-top: 30px;
}

#prodetails .single-pro-details h5{
  padding: 40px 0px 20px 0px;
  font-size: 40px;
}

#prodetails .single-pro-details h2{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

#prodetails .single-pro-details select{
display: block;
padding: 5px 10px;
margin-bottom: 10px;
}

#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 10px;
}

#prodetails .single-pro-details button {
background: red;
color: white;
width: 150px;
height: 44px;
}


#prodetails .single-pro-details input:focus{
  outline: none;
}


#prodetails .single-pro-details .matter{
  /* color:red; */
  font-size: 20px;
  font-weight: normal;
}

#prodetails .single-pro-details h4{
  padding: 40px 0px 10px 0px;
  font-size: 30px;
}

#logout{
  background-color: rgb(235, 35, 0);
  outline: none;
  border: none;
  padding:220px;
  border-radius: 4px;
  cursor:pointer;
}




/* media queries  */

@media (max-width:799px){
  .section-p1{
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6e3;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 80px 0 0 10px;
    transition: 0.5s;
  }
  #navbar li{
    margin-bottom: 25px;
  }

#navbar.active{
  right: 0px;
}
  #mobile {
    display: flex;
    align-items: center;
   
  }
  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 28px;
  }
  #lg-bag{
    display: none;
  }
  #hero {
  
    height: 70vh;
    background-position: top 30% right 30%;
    padding:0 80px;
  }
  #hero h1{
    padding-top:40px;
  }

  #feature{
  justify-content: center;
  }
  #feature .fe-box{
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
}
#sm-banner .banner-box {
  min-width: 100%;
  height: 40vh;
}
#banner3 {
  padding: 0 40px;
}
#banner3 .banner-box {
  width: 28%;
}
.section-p1 {
  padding: 20px 20px;
}
footer .install {
  margin-left: 1px;
}
}

@media (max-width: 477px){
  
  .section-p1 {
    padding:  20px;
}
  #header {
    padding: 10px 30px;
  }
  #hero h2 {
font-size:52px;
padding-bottom: -10px;
   }

   #hero h4 {
    font-size: 30px;
    color: #65201e;
  }
  
  #hero h1 {
    font-size: 30px;
    color: #65201e;
    padding-top:90px ;
  }


  #hero {
    background-position: 70%;
    padding: 0 20px;
}
#feature{
  justify-content: space-between;
}
#feature .fe-box {
  width: 155px;
  margin: 0px 0px 15px 0px;
}
#feature .fe-box h6 {
 line-height: 18px;
}
#product1 .pro {
width: 100%;
}

#banner{
  height: 44vh;
}

#sm-banner .banner-box {

  /* max-width: 660px; */
  height: 70vh;
  background-size: cover;
}
#sm-banner .banner-box2 {
 margin-top: 20px;
 }

 #banner3 {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

#banner3 .banner-box {
  width: 100%;
}

footer .copyright{
  text-align: start;
}

/* Single Product */
#prodetails{
  display: flex;
  flex-direction: column;
}
#prodetails .single-pro-image{
  width: 100%;
  margin-right: 0px;
}
#prodetails .single-pro-details{
  width: 100%;

}

}
